.App {
    background-image: url("Imperium.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    height: 100%;
    width: 100%;

}

header {
    color: goldenrod;
    text-align: center;
}

#warhammer {
    font-size: smaller;
}

h1 {
    font-weight: bolder;
    font-size: xx-large;
    margin: 5px;
}

.tooltip {
    display: inline;
    color: white;
}

.tooltiptext {
    visibility: hidden;
    position: absolute;
    top: 19%;
    left: 33%;
    padding: 10px;
    z-index: 2;
    color: black;
    background-color: whitesmoke;
    border-radius: 10px;


}

.tooltip:hover .tooltiptext {
    visibility: visible;
}