.App {
    background-image: url("Imperium.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    height: 100%;
    width: 100%;

}

header {
    color: goldenrod;
    text-align: center;
}

#warhammer {
    font-size: smaller;
}

h1 {
    font-weight: bolder;
    font-size: xx-large;
    margin: 5px;
}